.container-grid{
    display:grid ;
    grid-template-areas:
        'top top top top top '
        'blank-left left middle right blank-right '
        'blank-left footer footer footer blank-right';
}
.top{
    text-align: center;
    grid-area: top;
}
.middle{
    padding-top: 200px;
    padding-bottom: 300px;
    background-color: cyan;
    grid-area: middle;
}
.left{
    background-color: coral;
    padding:30px;
    text-align: center;
    grid-area: left;
}
.right{
    background-color: rgb(140, 127, 255);
    padding:30px;
    text-align: center;
    grid-area: right;
}
.footer{
    background-color: deeppink;
    padding:30px;
    text-align: center;
    grid-area: footer;
}

@media (max-width:990px){
    .container-grid{
        display:grid ;
        grid-template-areas:            
            'top'
            'left'
            'middle'
            'right'
            'footer'            
    }
}
