nav{
    height:70px;
    
}
.navbar{
    background-color: rgb(40, 204, 136);
}
.headline{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: black;
}
li a {
    color:yellow !important;
    font-size:20px;
   
}
li a:hover{
    color:black !important;
    background-color: lightyellow;
    
}
.nav-item{
    text-align: center;
}
.nav-link {
    padding:20px;
}

@media (max-width:990px){
    nav{
        height:auto;
    }
    .nav-link {
        padding:10px;
    }
}
