nav{
    height:70px;
    
}
.navbar{
    position: fixed;
    width: 100%;
    background-color: rgb(40, 204, 136);
}

li a {
    color:rgb(255, 0, 187) !important;
    font-size:20px;
}
li a:hover{
    color:black !important;
    background-color: lightyellow;
    
}
.nav-item{
    text-align: center;
}
.nav-link {
    padding:20px;
}
.navbar.fixed-top {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    align-items: stretch;
    height: 66px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (max-width:990px){
    nav{
        height: auto;
    }
    .nav-link {
        padding:10px;
    }
    .form{
        align-items: center;
    }

}
