ul{
    list-style: none;
}
.frame{
    position: relative;
}
.meals-item{
    padding-top: 205px;
    font-size: 48px;
}

.slideImg{
    width: 550px;
    height: 370px;
    padding: 20px;
    object-fit: scale-down;
}

.left{
    background-color: aliceblue;
    text-align: center;
}

.middle{
    background-color: gray;
    padding: 30px;
    text-align: center;
}
