.title{
    display: flex;
    background-color: beige;
}
body{
    background-size: 150%;
}
.headline{
    display: flex;
    width: 309px;
    height: 66px;
    font-size: xx-large;
}
.list{
    display: flex;
    justify-content: flex-end;
    flex: auto;
}
.item{
    flex: none;
    width: 200px;
    margin-right: 15px;
    text-align: center;
    font-size: 36px;
}