.navbar{
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    }
    html {
        font-size: 1pc;
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    
    .body {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        color: #292929;
        letter-spacing: -.15px;
        background-color: rgb(196, 212, 255);
    }
    em {
        color: rgb(255, 2, 2);
        margin-left: 3px;
    }
    input{
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    width: 90px;
    height: 30px;
    padding: 0 10px;
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid silver;
    background: #FFF;
    font-size: 1.1em;
    }
    .h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    }
    .card1{
    width: 450px;
    padding-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    }
    .submit{
    text-align: center;
    }
