.title{
    padding-top: 70px;
}
<<<<<<< HEAD
}
=======
>>>>>>> b86ec5f135f7e4bc871d2f3ea17274ac0443e3c1
/* .title .row{
    font-size:30px;} */
body 
{
<<<<<<< HEAD

=======
    
>>>>>>> b86ec5f135f7e4bc871d2f3ea17274ac0443e3c1
    font-size:30px; 
	background-color:#90a9c9;
}
/* https://pjchender.blogspot.com/2015/03/cssmultiple-selectorsspace.html */